.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

.portionButton {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}