.usersPage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userPic {
    width: 100px;
    height: 100px;
    margin-left: 75px;
}

.selectedPage {
    font-weight: bold;
    font-size: 22px;
}
.userInList {
    border: 2px solid black;
    border-radius: 15px;

    padding: 20px 20px;
    margin: 10px;

    height: 180px;
    width: 250px;

    box-shadow: inset 9px 5px rgba(188, 186, 214, 0.616);
}

.userName {
    margin-left: 120px;
    font-weight: bold;
}

.unfollowButton {
    border-radius: 10px;
    background-color: #ffa973;
}

.followButton {
    border-radius: 10px;
    background-color: #41ff414d;
}