.usersPage {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.userPic {
    width: 100px;
    height: 100px;
    margin-left: 75px;
}

.selectedPage {
    font-weight: bold;
    font-size: 22px;
}
.userInList {
    border: 2px solid black;
    border-radius: 15px;

    padding: 5px 5px;
    margin: 5px;

    height: 210px;
    width: 250px;

    box-shadow: inset 9px 5px rgba(188, 186, 214, 0.616);
}

.userName {
    margin-left: 120px;
    font-weight: bold;
}

.unfollowButton {
    border-radius: 10px;
    background-color: #ffa973;
}

.followButton {
    border-radius: 10px;
    background-color: #41ff414d;
}

@media screen and (max-width: 400px) {
    .userInList {
        height: 130px;
        width: 170px;
        margin: 0;
        margin-bottom: 5px;

    }
    .userPic {
        width: 50px;
        height: 50px;
        margin-left: 55px;
    }

    .userName {
        margin-left: 10px;
        font-weight: bold;
    }

  }
