.header {
    grid-area: h;
    background-color: rgba(245, 242, 88, 0.815);
  }

.header img {
  width: 55px;
  height: 55px;
}

.login {
  float: right;
  font-weight: bold;
  margin-right: 5%;
}
.login a {
  color: black;
}

.logoutButton {
  padding: 3px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}