.header {
    grid-area: h;
    /* background-color: rgba(245, 242, 88, 0.815); */
    background: linear-gradient(40deg,
    rgb(40, 54, 81) 15%, rgb(49, 73, 114) 25%, rgb(215, 227, 229) 80%);;
    /* position: fixed; */
    width: 100%;
  }

.header img {
  width: 55px;
  height: 55px;
  margin-left: 20px;
  margin-top: 5px;
}

.login {
  float: right;
  font-weight: bold;
  margin-right: 5%;
}
.login a {
  color: black;
}

.logoutButton {
  padding: 3px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}