.descriptionBlock {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainPhoto {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 5px 3px 3px 3px rgba(208, 214, 214, 0.952);

}
.userName {
    font-size: 25px;
}
.status {
    font-weight: bold;
    color: gray;
    margin-left: -70%;
}

.statusText {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
    margin-left: -60%;  

}

.contacts {
    padding-left: 10px;
    font-size: small;
}

.editButton {
    background-color: #ffa973;
    border-radius: 10px;
}

input[type='file'] {
    display: none;
}

.uploadUserPhotoInput {
    border: 1px solid black;
    border-radius: 5px;

    background-color: #e3f5fa;
    font-size: small;

    padding: 1px;
    margin-left: 30px;
}

@media screen and (max-width: 400px) {
    .userName {
        font-size: 14px;
        margin-left: 10px;
    }
    .mainPhoto {
        width: 100px;
        height: 100px;
    }

    .statusText {
        font-size: 14px;
    margin-left: -20%;  
    }

    .status {
    margin-left: -30%;  

    }

    .descriptionBlock {
        padding: 5px 2px;
    }
}