.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsList {
    padding-left: 20px;
}

.messagesList { 
   padding-bottom: 20px;
   padding-left: 40px;
   font-style: italic;
   border-left: 1px dashed gray;

}

.dialogsList .active {
    color: gold;
}

.dialog a {
    text-decoration: none;
    color: darkblue;
}

.sendMessageButton {
    border-radius: 10px;
    padding: 3px;
}
