.nav {
    grid-area: n;
    background-color: rgba(55, 65, 99, 0.842);
  }

.item a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

a.activeLink, a:hover {
  color: rgba(248, 245, 64, 0.548);;
}